*~
.buildpath
.externalToolBuilders
.project
.settings
.tx/config
attachments
backups
indefero-*.zip
src/IDF/conf/idf.php
src/IDF/conf/idf.test.php
src/IDF/conf/path.php
src/IDF/gettexttemplates
src/IDF/locale/idf.pot.bak
test/config.php
test/test.db
test/tmp
tmp
www/media/upload
www/test.php
