{extends "idf/base-simple.html"}
{block docclass}yui-t2{/block}
{block tabhome} class="active"{/block}
{block subtabs}<a href="{url 'IDF_Views::index'}" class="active">{trans 'Projects'}</a>{/block}
{block body}
{if $projects.count() == 0}
<p>{trans 'No projects managed with InDefero were found.'}</p>
{if $isAdmin}
{aurl 'url', 'IDF_Views_Admin::projectCreate'}
<p><a href="{$url}"><img style="vertical-align: text-bottom;" src="{media '/idf/img/add.png'}" alt="+" align="bottom" /></a> <a href="{$url}">{trans 'Create Project'}</a></p>{/if}
{else}
{foreach $projects as $p}
<div class="p-list-prj">
    <div class="logo">
        <a href="{url 'IDF_Views_Project::home', array($p.shortname)}">
        <img src="{url 'IDF_Views_Project::logo', array($p.shortname)}" alt="{trans 'Project logo'}" />
        </a>
        {if $p.private}
        <div class="private">
            <a href="{url 'IDF_Views_Project::home', array($p.shortname)}">
                <img style="float:right" src="{media '/idf/img/lock.png'}" alt="{trans 'Private project'}" />
            </a>
        </div>
        {/if}
        {if $p.current_activity_value}
        {assign $activity = $p.current_activity_value * 100}
        <div class="activity" title="{blocktrans}Project activity: {$activity}%{/blocktrans}"><div class="bar" style="width: {$activity}%"></div></div>
        {/if}
    </div>
    <p>
        <a href="{url 'IDF_Views_Project::home', array($p.shortname)}"><strong>{$p}</strong></a>
        {assign $url = $p.external_project_url}
        {if $url != ''}
            <a href="{$url}" target="_blank" class="external-link" title="{trans 'External link to project'}" />&nbsp;</a>
        {/if}
        {if $p.private} - <span class="smaller">{trans 'Private project'}</span>{/if}
    </p>
    <p class="smaller">{$p.shortdesc}</p>
    <p class="smaller">{trans 'Labels:'}
    {assign $tags = $p.get_tags_list()}
    {if count($tags) == 0}{trans 'n/a'}{else}
        {foreach $p.get_tags_list() as $idx => $label}
            {if $idx != 0}, {/if}
            <a class="label" href="{url 'IDF_Views::listProjects', array($label->id, $order)}">{$label}</a>
        {/foreach}
    {/if}
    </p>
</div>
{/foreach}
{/if}
{/block}

{block context}
<strong>{trans 'Filter projects by label'}</strong>
{if count($projectLabels) == 0}
<p class="smaller">{trans 'No projects with labels found.'}</p>
{else}
    <dl class="tagscloud smaller">{foreach $projectLabels as $class => $labels}
        <dt class="label">{$class}</dt>
        {foreach $labels as $idx => $label}
            <dd><a href="{url 'IDF_Views::listProjects', array($label->id, $order)}" class="label" title="{blocktrans $label.project_count}1 project{plural}{$label.project_count} projects{/blocktrans}">{$label.name}{if $idx != count($labels) - 1},{/if}</a></dd>
        {/foreach}
    {/foreach}</dl>
    {if $tag}
        <p class="smaller"><a href="{url 'IDF_Views::listProjects', array('all', $order)}">
            {blocktrans}Remove filter for {$tag}{/blocktrans}</a></p>
    {/if}
{/if}
<br />

<strong>{trans 'Order'}</strong>
{assign $labelPart = 'all'}
{if $tag}{assign $labelPart = $tag->id}{/if}
<p class="smaller">
{if $order != 'name'}<a href="{url 'IDF_Views::listProjects', array($labelPart, 'name')}">{/if}
{trans 'By name'}{if $order != 'name'}</a>{/if} 
 &ndash;
{if $order != 'activity'}<a href="{url 'IDF_Views::listProjects', array($labelPart, 'activity')}">{/if}
{trans 'By activity'}{if $order != 'activity'}</a>{/if} 
</p>
<br />

<strong>{trans 'Filtered project stats'}</strong>
<dl class="statistics smaller">
<dt>{trans 'Members:'}</dt><dd>{$stats.members}</dd>
<dt>{trans 'Issues:'}</dt><dd>{$stats.issues}</dd>
<dt>{trans 'Commits:'}</dt><dd>{$stats.commits}</dd>
<dt>{trans 'Documentations:'}</dt><dd>{$stats.docpages}</dd>
<dt>{trans 'Downloads:'}</dt><dd>{$stats.downloads}</dd>
<dt>{trans 'Code reviews:'}</dt><dd>{$stats.reviews}</dd>
</dl>
{/block}

{block foot}<div id="branding">Powered by <a href="http://www.indefero.net" title="InDefero, bug tracking and more">InDefero</a>,<br />a <a href="http://www.ceondo.com">Céondo Ltd</a> initiative.</div>{/block}
